:root {
  --black: #314052;
  --light-bg: #f7f9fe;
  --grey: #aab0be;
  --stoke: #dce2f1;
  --blue: #1e65e1;
  --midle-grey: #73859b;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-style: normal;
}

ul {
  margin: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
}

main {
  background: var(--light-bg);
  height: 100vh;
}

.section {
  display: block;
  text-align: center;
  background: var(--light-bg);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.form {
  display: block;
  margin: 0 auto;
  padding: 40px 38px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 22px 26px rgba(199, 207, 227, 0.08);
  border-radius: 10px;
}

.form input {
  width: 385px;
  height: 45px;
  padding: 12px 17px 14px 13px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.04em;
  color: var(--grey);
  background: #ffffff;
  border: 1px solid var(--stoke);
  border-radius: 6px;
}

.form input:focus {
  outline: 1px solid var(--grey);
}

.form input::placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.04em;
  color: var(--grey);
}

.title {
  margin-bottom: 23px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: var(--black);
}

.btn {
  width: 385px;
  height: 45px;
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.registration-btn {
  color: var(--light-bg);
  background: var(--blue);
}

.registration-btn:hover, .registration-btn:focus {
  background: #3d7ff2;
}

.registration-btn:active {
  background: #0d4ab4;
}

.registration-btn:disabled {
  background: var(--grey);
}

.back-btn {
  margin-top: 16px;
  background: #fff;
  border: 2px solid #1e65e1;
}

.back-btn .back-link {
  color: var(--blue);
}

.back-btn:hover, .back-btn:focus {
  background: #bed2f4;
}

.back-btn:active {
  background: #89b0f4;
}

.back-btn:disabled {
  border-color: var(--grey);
}

.back-btn:disabled .back-link {
  color: var(--grey);
}

.header .container {
  height: 94px;
  padding-top: 34px;
  text-align: center;
  background: #f7f9fe;
  border-bottom: 1px solid var(--stoke);
}

.registration .container {
  padding-top: 100px;
  padding-bottom: 101px;
}

.registration-form {
  width: 461px;
}

.registration-form .registration-data {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 17px;
}

.registration-form .password {
  position: relative;
}

.registration-form .password .password-btn {
  position: absolute;
  top: 9px;
  right: 17px;
  width: 24px;
  height: 24px;
  border: none;
  background-image: url(../images/pass-close.svg);
  background-color: #ffffff;
}

.registration-form .password .password-btn:active {
  background-image: url(../images/pass-open.svg);
}

.pre-submit {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.pre-submit .pre-submit-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  color: var(--black);
}

.pre-submit .pre-submit-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  color: var(--blue);
}

.pre-submit .pre-submit-link:hover, .pre-submit .pre-submit-link:focus {
  text-decoration: underline;
}

.pre-submit .pre-submit-link:active {
  color: #0d4ab4;
}

.pre-submit .pre-submit-link:disabled {
  color: var(--grey);
}

.footer .container {
  position: fixed;
  bottom: 0;
  height: 78px;
  padding-top: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--light-bg);
  background: var(--black);
}

@media screen and (min-width: 768px) {
  .footer .container {
    height: 68px;
    padding-top: 24px;
  }
}
/*# sourceMappingURL=main.css.map */