.btn {
  width: 340px;
  height: 45px;
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 6px;

  cursor: pointer;
  @include tablet {
    width: 350px;
  }
  @include desktop {
    width: 385px;
  }
}
.registration-btn {
  color: var(--light-bg);
  background: var(--blue);
  &:hover,
  &:focus {
    background: #3d7ff2;
  }
  &:active {
    background: #0d4ab4;
    // .reg-input:required {
    //   outline: 1px solid #eb5757;
    // }
  }
  &:disabled {
    background: var(--grey);
  }
  .log-link {
    color: var(--light-bg);
  }
}
.back-btn {
  margin-top: 16px;
  background: #fff;
  border: 2px solid #1e65e1;
  color: var(--blue);
  .back-link {
    color: var(--blue);
  }
  &:hover,
  &:focus {
    background: #bed2f4;
  }
  &:active {
    background: #89b0f4;
  }
  &:disabled {
    border-color: var(--grey);
  }
  &:disabled .back-link {
    color: var(--grey);
  }
}
.question-btn {
  display: block;
  width: 37px;
  height: 37px;
  border: none;
  background-image: url(../images/question.svg);
  background-color: var(--light-bg);

  &:hover,
  &:focus {
    background-image: url(../images/question-hover.svg);
  }
  &:active {
    background-image: url(../images/question-active.svg);
  }
  &:disabled {
    background-image: url(../images/question-dis.svg);
  }
}
.note-btn {
  width: 250px;
  margin-top: 0;
}
.destroy-btn {
  width: 287px;
  margin-top: 0;
}

.destroys-btn {
  width: 245px;
  margin-top: 0;

  color: #fff;

  background: var(--red);
  border-radius: 6px;

  &:hover,
  &:focus {
    background: var(--red-hover);
  }
  &:active {
    background: var(--red-active);
  }
  &:disabled {
    background: var(--grey);
  }
}
.note-btn-link {
  width: 176px;
  margin-top: 0;
}
.pwd-btn {
  width: 170px;
  height: 45px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  text-align: center;
  letter-spacing: 0.04em;

  color: var(--midle-grey);

  border: 1px solid var(--midle-grey);

  background: var(--light-bg);

  @include tablet {
    width: 175px;
  }
  &:disabled {
    color: #cad0df;
    border: 1px solid #d4dae9;
  }
}
.generate {
  border-radius: 6px 0px 0px 6px;

  @include desktop {
    width: 194px;
  }
}

.copy {
  border-radius: 0px 6px 6px 0px;

  @include desktop {
    width: 192px;
  }
}
