.form {
  display: block;
  margin: 0 auto;
  padding: 40px 38px;

  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 22px 26px rgba(199, 207, 227, 0.08);
  border-radius: 10px;
  //   &:required {
  //     input:invalid {
  //       outline: 1px solid #eb5757;
  //     }
  //   }
  input {
    width: 385px;
    height: 45px;
    padding: 12px 17px 14px 13px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.04em;

    color: var(--grey);

    background: #ffffff;

    border: 1px solid var(--stoke);
    border-radius: 6px;
    // &:invalid {
    //   outline: 1px solid #eb5757;
    // }
    // &:required {
    //   outline: 1px solid #eb5757;
    // }
    &:focus {
      outline: 1px solid var(--grey);
    }
    // &:not(:focus):not(:placeholder-shown):invalid {
    //   outline: 1px solid #eb5757;
    // }

    &::placeholder {
      font-family: inherit;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.9;
      letter-spacing: 0.04em;

      color: var(--grey);
    }
  }
}
