.form {
  display: block;
  margin: 0 auto;
  padding: 16px 5px;

  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 22px 26px rgba(199, 207, 227, 0.08);
  border-radius: 10px;
  //   &:required {
  //     input:invalid {
  //       outline: 1px solid #eb5757;
  //     }
  //   }
  @include tablet {
    padding: 30px 8px;
  }
  @include desktop {
    padding: 40px 38px;
  }
  label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.04em;

    color: var(--black);
  }
  select {
    width: 340px;
    height: 45px;
    // padding: 3px 17px 14px 13px;
    padding-left: 13px;

    @include tablet {
      width: 350px;
    }
    @include desktop {
      width: 385px;
    }
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.04em;

    color: var(--grey);

    background: #ffffff;

    border: 1px solid var(--stoke);
    border-radius: 6px;
    &:focus {
      outline: 1px solid var(--grey);
    }
    vertical-align: middle;
    appearance: none;
    background: url(../images/select.svg) no-repeat right;
    // background: url(../images/modal/select-up.svg) no-repeat right;
    background-position-x: calc(100% - 13px);
  }

  input {
    width: 340px;
    height: 45px;
    padding: 12px 17px 14px 13px;

    @include tablet {
      width: 350px;
    }
    @include desktop {
      width: 385px;
    }
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.04em;

    color: var(--grey);

    background: #ffffff;

    border: 1px solid var(--stoke);
    border-radius: 6px;
    // &:invalid {
    //   outline: 1px solid #eb5757;
    // }
    // &:required {
    //   outline: 1px solid #eb5757;
    // }
    &:focus {
      outline: 1px solid var(--grey);
    }
    // &:not(:focus):not(:placeholder-shown):invalid {
    //   outline: 1px solid #eb5757;
    // }

    &::placeholder {
      font-family: inherit;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.9;
      letter-spacing: 0.04em;

      color: var(--grey);
    }
  }
  textarea {
    width: 100%;
    margin-bottom: 26px;
    padding: 16px 16px;
    resize: none;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.04em;

    color: var(--grey);

    background: #ffffff;

    border: 1px solid var(--stoke);
    border-radius: 6px;

    &:focus {
      outline: 1px solid var(--grey);
    }

    &::placeholder {
      font-family: inherit;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.9;
      letter-spacing: 0.04em;

      color: var(--grey);
    }
  }
}
