body {
  // width: 1920px;
  // color: var(--main-color);
  font-family: 'Montserrat', sans-serif;
}
// main {
//   background: #f7f9fe;
// }
.section {
  display: block;
  // margin: 0 auto;
  // padding: 0 auto;
  // padding-top: 60px;
  // padding-bottom: 60px;
  // @include desktop {
  //     padding-top: 94px;
  //     padding-bottom: 94px;
  // }
  text-align: center;
  background: var(--light-bg);
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.form {
  display: block;
  margin: 0 auto;
  padding: 40px 38px;

  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 22px 26px rgba(199, 207, 227, 0.08);
  border-radius: 10px;
}
.btn {
  width: 385px;
  height: 45px;
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  letter-spacing: 0.04em;
  border-radius: 6px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}
