.footer .container {
  height: 68px;
  padding-top: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--light-bg);

  background: var(--black);
}
