.header .container {
  display: flex;
  justify-content: center;
  height: 94px;
  padding-top: 34px;
  text-align: center;
  background: #f7f9fe;
  border-bottom: 1px solid var(--stoke);
}
.header-profile .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 94px;
  padding-top: 24px;
  padding-right: 26px;
  padding-bottom: 18px;
  padding-left: 20px;

  background: #f7f9fe;
  border-bottom: 1px solid var(--stoke);

  @include tablet {
    padding-right: 35px;
    padding-left: 35px;
  }
  @include tablet {
    padding-right: 67px;
    padding-left: 67px;
  }
}
.logo {
  display: block;
  width: 170px;
  height: 44px;
  margin-right: 45px;
  background-image: url(../images/logo-mob.svg);
  background-repeat: no-repeat;
  // background-size: cover;
  @include desktop {
    width: 262px;
    height: 63px;

    margin-right: 53px;

    background-image: url(../images/logo.svg);
  }
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media screen and (max-width: 767px) {
    display: none;
  }

  .menu-nav {
    display: flex;
  }
  .nav-list {
    display: flex;

    gap: 26px;

    @include desktop {
      gap: 36px;
    }
  }

  .prof-info {
    display: flex;

    align-items: center;
    gap: 56px;
  }
  .user {
    display: flex;

    gap: 14px;

    align-items: center;
  }
  .user-name {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;

    letter-spacing: 0.04em;

    color: var(--grey);
  }
}
.header-link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.04em;

  color: var(--grey);
}
.user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: var(--blue);
  span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.04em;

    color: #ffffff;
  }
}

.logout-btn {
  display: flex;
  align-items: center;

  gap: 10px;
  font-family: inherit;
  border: none;
  background: var(--light-bg);

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.04em;

  color: var(--grey);

  cursor: pointer;
  .logout-icon {
    display: block;
    width: 15px;
    height: 15px;
    background-image: url(../images/logout.svg);
  }
}
.mob-menu {
  display: flex;

  align-items: center;
  gap: 16px;
  @include tablet {
    display: none;
  }
}
.menu-btn {
  display: block;
  width: 19px;
  height: 19px;

  background-image: url(../images/mob-menu.svg);
  border: none;
  background-color: var(--light-bg);
}
.mob-nav {
  position: absolute;
  top: 94px;
  right: 0;
  width: 337px;
  height: 404px;
  padding-top: 25px;
  padding-left: 188px;
  background-color: #fff;
}
.mob-btn {
  background-color: #fff;
  padding-left: 0;
}
.mob-nav-list {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
