.registration {
  padding-top: 100px;
  padding-right: 730px;
  padding-bottom: 101px;
  padding-left: 730px;
}

.registration-form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  width: 460px;
}
