.registration {
  padding-top: 100px;

  padding-bottom: 101px;
}
.registration-form {
  width: 461px;

  .registration-data {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 17px;
  }
  input {
    width: 385px;
    height: 45px;
    padding: 12px 17px 14px 13px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.04em;

    color: var(--grey);

    background: #ffffff;

    border: 1px solid var(--stoke);
    border-radius: 6px;
    &:focus {
      outline: 1px solid var(--grey);
    }
    &::placeholder {
      font-family: inherit;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.9;
      letter-spacing: 0.04em;

      color: var(--grey);
    }
  }
  .password {
    position: relative;
    .password-btn {
      position: absolute;
      top: 9px;
      right: 17px;
      width: 24px;
      height: 24px;
      border: none;
      background-image: url(../images/pass-close.svg);

      background-color: #ffffff;
      &:active {
        background-image: url(../images/pass-open.svg);
      }
    }
  }
}
.pre-submit {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  .pre-submit-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;

    color: var(--black);
  }
  .pre-submit-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;

    color: var(--blue);
    &:hover,
    &:focus {
      text-decoration: underline;
    }
    &:active {
      color: #0d4ab4;
    }
    &:disabled {
      color: var(--grey);
    }
  }
}
.registration-btn {
  color: var(--light-bg);
  background: var(--blue);
  &:hover,
  &:focus {
    background: #3d7ff2;
  }
  &:active {
    background: #0d4ab4;
  }
  &:disabled {
    background: var(--grey);
  }
}
